@import url('https://fonts.googleapis.com/css?family=Arsenal');
@import url("./icons.css");

*{
    box-sizing: border-box;
}

body {
    background: #2980b9;
    font-family: 'Arsenal', sans-serif;
}

.app {
    background-image: url('assets/backgrounds/app-iphone.jpg');
    width: 600px;
    height: 928px;
    padding: 3em;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}

.search-location-name{
    font-size: 4em;
    bottom: 10px;
}

.weather{
  width:550px;
  bottom:80px;
  right:30px;
  position:relative;
}

.loading-message{
    max-width:100%;
    max-height:100%;
    position:relative;
    top: 30px;
}

h1 {
    font-size: 3em;
}

.icon-big {
    margin-top: 4em;
    max-width: 50px;
}

.small-temp,
.big-temp {
    font-size: 3em;
    position: absolute;
    left:30px;
    top:70px;
    transform: translateY(50%);
}

.big-temp:after,
.small-temp:after {
    content: "°";
    opacity: 0.4;
    font-family: monospace;
    position: absolute;
    right: -30px;
}

.day{
    clear: both;
    padding: 2em 0;
}

.name-of-days{
  text-align: center;
  float: left;
  width: 30%;
  font-size: 2em;
  padding-top: 20px;
  padding-left:200px;
}

.day-description {
    text-align: left;
    float: left;
    width: 75%;
    font-size: 1.2em;
}

.day .icon-wrapper {
    width: 25%;
    float: right;
    top: -10px;
    text-align: right;
    right: -60px;
    font-weight: bold;
}

.day .icon-wrapper .small-temp:after {
    right: -15px;
}

.day .icon-wrapper .small-temp {
    font-size: 2em;
    margin-right: 1.7em;
}

.day .icon-wrapper .icon-small {
    zoom: 0.3;
}

.temperature {
  height: 220px;
  width: 150px;
  position: relative;
  margin-bottom: 20px;
  background-color: rgba(96, 195, 248, 0.5);
  border-radius: 25px;
  top:100px;
  margin-right:0px;
}

.wind{
  height: 220px;
  width: 350px;
  position: relative;
  margin-bottom: 20px;
  background-color: rgba(11, 72, 141, 0.5);
  border-radius: 25px;
  top:-140px;
  left:178px;
  font-size: 2em;
  padding: 10px;
}

.windspeed{
  position: relative;
  padding-left:150px;
  bottom:300px;
  left:80px;
  font-size: 2.7em;
}

.winddir{
  position:relative;
  bottom:380px;
  right:10px;
  font-size: 2.7em;
}

.humidity{
  height: 220px;
  width: 250px;
  position: relative;
  background-color: rgba(11, 72, 141, 0.5);
  border-radius: 25px;
  bottom:255px;
  font-size: 2em;
  padding: 10px;
}

.avehumidity{
  position: relative;
  padding-left:150px;
  bottom:410px;
  right:230px;
  font-size: 4em;
}

.qpf{
  height: 220px;
  width: 220px;
  position: relative;
  margin-bottom: 20px;
  background-color: rgba(11, 72, 141, 0.5);
  border-radius: 25px;
  bottom:595px;
  left:280px;
  font-size: 2em;
  padding: 10px;
}

.qpf-number{
  position: relative;
  padding-left:150px;
  bottom:770px;
  left:40px;
  font-size: 4em;
}

.name-of-location{
  position:relative;
  font-size:2em;
  bottom:710px;
  max-width:100%;
  right:20px;
}
