@import url('https://fonts.googleapis.com/css?family=Arsenal');
@import url("./icons.css");

* {
    box-sizing: border-box;
}
@red: #F00;
@blue: #00F;
@white: #FFF;
@gray: #999;
@black: #000;
@mid-blue:#4286f4;
@dark-blue:#1e3d70;

body {
    background: #2980b9;
    font-family: 'Arsenal', sans-serif;
}

.app {
    background-image: url('assets/backgrounds/app-iphone.jpg');
    width: 600px;
    height: 928px;
    padding: 3em;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}

.weather-today {
    height: 220px;
    position: relative;
}

h1 {
    font-size: 3em;
}

.icon-description {
    margin-top: 3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 1em;
    font-size: 2em;
}

.icon-big {
    margin-top: 4em;
}

.small-temp,
.big-temp {
    font-size: 5em;
    position: absolute;
    left:43px;
    top:75px;
    margin-right: -150px;
    transform: translateY(50%);
}

.big-temp:after,
.small-temp:after {
    content: "°";
    opacity: 0.8;
    font-family: monospace;
    position: absolute;
    right: -20px
}

.icon-wrapper {
    position: relative;
}

.day {
    clear: both;
    padding: 2em 0;
}

.day-description {
    text-align: left;
    float: left;
    width: 75%;
    font-size: 1.2em;
}

.day .icon-wrapper {
    width: 25%;
    float: right;
    top: -10px;
    text-align: right;
    right: -60px;
    font-weight: bold;
}

.day .icon-wrapper .small-temp:after {
    right: -15px;
}

.day .icon-wrapper .small-temp {
    font-size: 2em;
    margin-right: 1.7em;
}

.day .icon-wrapper .icon-small {
    zoom: 0.3;
}
.container {
	flex-direction: column;
	text-align: center;
    position: fixed;
    background :#1e3d70;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 928px;
	padding: 0px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	vertical-align: middle;
}

.container form{
	height:100%;
	width:100%;
	padding: 0px;

}

.container form table{
	height: 100%;
	width:100%;

}
.container form table tr{
	height: 25%;

}

.container form table tr th{
	background: #0033ff;

}

.container form table tr td{
	padding:10px;
	width: 30%;
	align-items: stretch;
	border: 2px solid #000000;
	background:#4286f4;

}

.container form table tr td input{
	height: 100%;
	width:100%;
	padding:10px;
	background:transparent;
	border: none;
}
.mainwindow{
	height: 700px;
	padding: 0px;
}
.footer{
	height: 110px;
	padding: 10px;
	background-color: pink;
}
.topbar{
	height: 110px;
}
